<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevFlow - Organize seu Código</title>
</head>

<!-- Conectando os estilos a pág. -->
<link 
    rel="stylesheet" 
    href="../src/styles/styles.css" 
/>
<!-- Conectando o script a pág. -->
<script 
    src="../src/script/script.js" defer>
</script>

<body>
    <header>
        <nav class="navbar-container">
            <div class="logo"><img src="../src/img/logo.png" alt="Logo"></div>
            <ul class="navbar-itens">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Unidades</a>
                </li>
                <li>
                    <a href="#">Planos</a>
                </li>
                <li>
                    <a href="#">Contato</a>
                </li>
            </ul>
            <div class="btn" onclick="comprar()">Começar Agora</div>
        </nav>
    </header>

    <section class="hero">
        <h1>Organize seus projetos como um profissional</h1>

        <p>Gerencie tarefas, códigos e ideias em um só lugar</p>

        <div class="btn" onclick="comprar()">Testar Gratuitamente</div>
    </section>

    <section class="features">
        <div class="card">
            <h3>Organização Inteligente</h3>
            <p>Separe seus projetos por categorias e prioridades.</p>
        </div>

        <div class="card">
            <h3>Interface Simples</h3>
            <p>Fácil de usar, mesmo para iniciantes.</p>
        </div>
        <div class="card">
            <h3>Alta Performance</h3>
            <p>Aplicação rápida e leve para qualquer dispositivo.</p>
        </div>
    </section>

    <footer>
        © 2026 DevFlow - Todos os direitos reservados
    </footer>
</body>
</html>