* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    background: #0f172a; /* Cor de fundo escura */
    color: #fff; /* Cor do texto */
}

header {
    padding: 5px 10px; /* Espaçamento interno */
    background-color: #000;
}

.navbar-container {
    width: 100%;
    height: 50px;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.navbar-itens {
    position: absolute;
    right: 0;
    line-height: 50px;
    margin: 0;
    display: inline-block;

}

.navbar-itens li {
    display: inline-block;
    margin-left: 25px;
}

.navbar-itens a {
    text-decoration: none;
    color: #fff;
}

.btn {
    background: #f0b60a;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s; /* Suaviza animação */
}

.btn:hover {
    background: #d3a008; /* Cor ao passar o mouse */
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.features {
    display: grid; /* Layout em grade */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Cria colunas responsivas automaticamente */
    gap: 20px;
    padding: 40px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px); /* Efeito de subir */
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    opacity: 0.7;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 28px; /* Diminui título em telas pequenas */
    }
}