* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #fff; /* Cor de fundo escura */
    color: #000; /* Cor do texto */
}

/* Navegação */

header {
    padding: 5px 10px; /* Espaçamento interno */
    background-color: #000;
}

.navbar-container {
    width: 100%;
    height: 70px;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.logo {
    padding-top: 9px;
}

.navbar-itens {
    position: absolute;
    right: 0;
    line-height: 70px;
    margin: 0;
    display: inline-block;

}

.navbar-itens li {
    display: inline-block;
    margin-left: 25px;
}

.navbar-itens a {
    text-decoration: none;
    color: #fff;
}

.btn {
    background: #f0b60a;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s; /* Suaviza animação */
}

.btn:hover {
    background: #d3a008; /* Cor ao passar o mouse */
}

/* BANNER */

.main-banner {
  position: relative;
  overflow: hidden; /* Ocutar excesso do img*/
  width: 100%;
}

.banner-slider {
  display: flex;
  transition: transform 0.5s ease; /* Transição suave */
}

.banner-slider a {
  min-width: 100%;
}

.banner-slider img {
  width: 100%;
  display: block;
}

.btn-prev, .btn-next {  /* Botões de navegação */
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centralizar elemento com precisão (Vertical) */
  background: none;
  color: transparent;
  border: none;
  padding: none;
  font-size: none;
  cursor: pointer;
  z-index: 10; /* Sobrepor elemento */
  border-radius: 4px;
}

.btn-prev { left: 10px; }
.btn-next { right: 10px; }

.dots { /* Bolinhas indicadoras */
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px; /* Espaçamento*/
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: white;
}

/* SEÇÕES /1*/
.planos {
    text-align: center;
    padding: 48px 20px;
    background-color: #f5f5f5;
}

.planos h4 {
    font-size: 38px;
    margin-bottom: 20px;
}

.planos p {
    font-size: 18px;
    margin-bottom: 30px;
}

.block-planos {
    margin: 0 258.337px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    float: left;
}

.block-planos .card {
    margin-left: 0;
    background-color: hsla(0, 0%, 100%, .8);
    border: 1px solid #c2c2c2;
    border-radius: 24px;
    border-top: 2px solid #c2c2c2;
    height: 100%;
    margin: 60px 7px 0;
    min-height: 670px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.block-planos .card .tag {
    background-color: #fff;
    border: 1px solid #f0b60a;
    border-radius: 20px;
    color: #f0b60a;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    left: 22.5%;
    line-height: 30px;
    margin: 0 auto;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    top: -18px;
    width: 55%;
}

.block-planos .card h5 {
    color: #323131;
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0 15px;
}

.block-planos .card .valor {
    color: #d3a008;
    font-size: 46px;
    font-weight: 700;
    line-height: 43px;
}

.block-planos .card .cta {
    background-color: #f0b60a;
    border-radius: 8px;
    color: #fff;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    line-height: 56px;
    margin: 20px auto 0;
    text-align: center;
    text-decoration: none;
    width: 85%;
}

.block-planos .card .block-sva {
    position: relative;
}

.block-planos .card .svas {
    color: #323131;
    display: block;
    font-size: 16px;
    list-style: none;
    margin: 20px auto 0;
    text-align: left;
    width: 85%;
}

.planos .card .svas li {
    background-image: url(../img/check.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 10px 0;
    padding: 2px 0 0 30px;
}

.block-planos .card .valor em, .block-planos .card .valor span {
    color: #323131;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.block-planos .card .valor u {
    font-size: 36px;
    padding-right: 5px;
    text-decoration: none;
}

.planos-aviso {
    clear: both;
    display: block;
    padding-top: 18px;
}

/* SEÇÕES /2 */

.sobre {
    background-color: #fff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -2px;
    padding: 60px 0;
    position: relative;
}

.sobre .sobre-container {
    overflow: hidden;
    padding-top: 20px;
}

.row {
    padding-bottom: 0;
    margin: 0 50px;
}

.sobre .card {
    color: #000;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #f0b60a;
    border: 1px solid #f0b60a;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}

.sobre .card h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre .card h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.sobre .card p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
    width: 88%;
}

p {
    font-family: Roboto, sans-serif;
}

/* SEÇÕES /3 */
.duv {
    background-color: #f5f5f5;
    padding: 60px 0;
}

.duv-container {
    margin: 0 auto;
    max-width: 1240px;
}

.duv     h4 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}

.duv p {
    font-size: 16px;
    line-height: 32px;
    margin: 0 auto;
}

.duv .accordion {
    margin: 0 auto;
    padding-top: 20px;
}

.duv .accordion label {
    border-bottom: 1px solid #ccc;
    color: #2d2c31;
    cursor: pointer;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 25px 20px 25px 0;
    width: 100%;
}

.duv .accordion span {
    cursor: pointer;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-right: 50px;
    position: relative;
}

.accordion ul {
    display: none;
    font-size: 18px;
    font-weight: 400;
    list-style: disc;
    margin: 20px 0 0 20px;
}

.accordion li {
    padding-bottom: 20px;
}

.accordion ol, .accordion p, .accordion .accordion input {
    display: none;
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

input[type="radio"]:checked ~ ul { display: block; }
input[type="radio"]:checked ~ p  { display: block; }

/*  */
footer {
    background-color: #000;
    color: #c2c2c2;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    transition: 2s;
    opacity: 0.7;
}

footer:hover{
    opacity: 1;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 28px; /* Diminui título em telas pequenas */
    }
}